mat-sidenav-container{
    height: calc(100% - 65px);
}

mat-sidenav,
mat-sidenav-content {
  padding: 16px;
}

mat-sidenav {
  background-color: maroon;
  width: 10%;
}

.example-spacer {
  flex: 1 1 auto;
}

