<mat-toolbar color="primary" style="margin: 0 !important">
  <button mat-icon-button (click)="opened = !opened">
    <mat-icon>menu</mat-icon>
  </button>
  <span>{{ title }}</span>
  <span class="example-spacer"></span>
  <button mat-icon-button>
    <mat-icon>perm_identity</mat-icon>
  </button>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav mode="side" [(opened)]="opened">
    <mat-nav-list>
      <mat-list-item>
        <button mat-icon-button>
          <mat-icon>security</mat-icon>
        </button>
        <span matListItemTitle> Programas </span>
      </mat-list-item>
      <mat-list-item
        routerLinkActive="item-menu-active"
        routerLink="/empresas/lista-empresas"
      >
        <button mat-icon-button>
          <mat-icon>business_center</mat-icon>
        </button>
        <span matListItemTitle> Empresas </span>
      </mat-list-item>

      <mat-list-item
        routerLinkActive="item-menu-active"
        routerLink="/arl/lista-arl"
      >
        <button mat-icon-button>
          <mat-icon>security</mat-icon>
        </button>
        <span matListItemTitle> Arl </span>
      </mat-list-item>
    </mat-nav-list>
    <mat-nav-list> </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
