<mat-toolbar color="primary" style="margin: 0 !important">
  <button mat-icon-button (click)="opened = !opened">
    <mat-icon>menu</mat-icon>
  </button>
  <span>{{ title }}</span>
  <span class="example-spacer"></span>
  <button mat-icon-button>
    <mat-icon>perm_identity</mat-icon>
  </button>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #drawer mode="side" [(opened)]="opened">
    <mat-list-item
      routerLinkActive="item-menu-active"
      (click)="toggleSubmenu2()"
    >
      <button mat-icon-button>
        <mat-icon mat-list-icon>keyboard_arrow_down</mat-icon>
        <mat-icon>developer_board</mat-icon>
        <span matListItemTitle> Procesos </span>
      </button>
    </mat-list-item>
    <mat-nav-list *ngIf="showSubmenu2">
      <mat-list-item
        routerLinkActive="item-menu-active"
        routerLink="/arl/lista-arl"
      >
        <button mat-icon-button>
          <mat-icon>security</mat-icon>
        </button>
        <span matListItemTitle> Arl </span>
      </mat-list-item>
    </mat-nav-list>

    <mat-list-item
      routerLinkActive="item-menu-active"
      (click)="toggleSubmenu()"
    >
      <button mat-icon-button>
        <mat-icon mat-list-icon>keyboard_arrow_down</mat-icon>
        <mat-icon>settings_applications</mat-icon>
        <span matListItemTitle> Parametrización </span>
      </button>
    </mat-list-item>
    <mat-nav-list *ngIf="showSubmenu">
      <mat-list-item routerLinkActive="item-menu-active" routerLink="">
        <button mat-icon-button>
          <mat-icon>assignment_ind</mat-icon>
        </button>
        <span matListItemTitle> Tipo de documento </span>
      </mat-list-item>
      <mat-list-item
        routerLinkActive="item-menu-active"
        routerLink="/estudiante/lista-estudiante"
      >
        <button mat-icon-button>
          <mat-icon>school</mat-icon>
        </button>
        <span matListItemTitle> Estudiantes </span>
      </mat-list-item>
      <mat-list-item routerLinkActive="item-menu-active" routerLink="">
        <button mat-icon-button>
          <mat-icon>class</mat-icon>
        </button>
        <span matListItemTitle> Programas de formación</span>
      </mat-list-item>
      <mat-list-item
        routerLinkActive="item-menu-active"
        routerLink="/arl/lista-arl"
      >
        <button mat-icon-button>
          <mat-icon>security</mat-icon>
        </button>
        <span matListItemTitle> Arl </span>
      </mat-list-item>
      <mat-list-item
        routerLinkActive="item-menu-active"
        routerLink="/empresas/lista-empresas"
      >
        <button mat-icon-button>
          <mat-icon>business_center</mat-icon>
        </button>
        <span matListItemTitle> Empresas </span>
      </mat-list-item>
    </mat-nav-list>

    <mat-nav-list> </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
<!--
<mat-sidenav-container>
  <mat-sidenav #drawer mode="side">
    <mat-nav-list>
      <a mat-list-item routerLink="/dashboard">Dashboard</a>
      <mat-list-item (click)="toggleSubmenu()">
        <mat-icon mat-list-icon>menu</mat-icon>
        <span mat-line>Submenu</span>
        <mat-icon mat-list-icon>keyboard_arrow_down</mat-icon>
      </mat-list-item>
      <mat-nav-list *ngIf="showSubmenu">
        <a mat-list-item routerLink="/submenu1">Submenu 1</a>
        <a mat-list-item routerLink="/submenu2">Submenu 2</a>
      </mat-nav-list>
      <a mat-list-item routerLink="/settings">Settings</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <button mat-button (click)="drawer.toggle()">Toggle menu</button>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
-->
