<mat-card>
  <mat-card-title>Crear nueva empresa </mat-card-title>
  <mat-card-subtitle>
    Ingrese los datos para crear una nueva empresa
  </mat-card-subtitle>

  <form
    class="crear-empresa"
    [formGroup]="empresaForm"
    (ngSubmit)="createEmpresa()"
  >
    <section class="crear-empresa__campos">
      <mat-form-field appearance="fill">
        <mat-label>NIT de empresa</mat-label>
        <input
          formControlName="empresaNit"
          matInput
          placeholder="Ingrese NIT"
          type="text"
        />
        <mat-icon matSuffix>account_balance_wallet</mat-icon>
        <mat-error *ngIf="empresaForm.get('empresaNit')!.invalid">
          Este campo no puede estar vacio
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Nombre de empresa</mat-label>
        <input
          formControlName="empresaNombre"
          matInput
          placeholder="Ingrese Nombre de empresa"
          type="text"
        />
        <mat-icon matSuffix>account_balance</mat-icon>
        <mat-error *ngIf="empresaForm.get('empresaNombre')!.invalid">
          Este campo no puede estar vacio
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Representante legal</mat-label>
        <input
          formControlName="empresaRepresentante"
          matInput
          placeholder="Ingrese Representante"
          type="text"
        />
        <mat-icon matSuffix>assignment_ind</mat-icon>
        <mat-error *ngIf="empresaForm.get('empresaRepresentante')!.invalid">
          Este campo no puede estar vacio
        </mat-error>
      </mat-form-field>
    </section>

    <mat-card-actions align="end">
      <button
        type="submit"
        mat-raised-button
        [disabled]="empresaForm.invalid"
        color="primary"
      >
        {{ this.data.tipo == "crear" ? "GUARDAR" : "ACTUALIZAR" }}
      </button>
      <button
        mat-dialog-close
        type="button"
        mat-raised-button
        mat-button
        color="accent"
      >
        CANCELAR
      </button>
    </mat-card-actions>
  </form>
</mat-card>
