.crear-empresa {
  &__campos {
    display: grid;
    gap: 8px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}
// .example-container mat-form-field + mat-form-field {
//     margin-left: 8px;
//   }

//   .example-container mat-form-field {
//     width: 220px;
//   }

//   .example-container form {
//     margin-bottom: 20px;
//   }

//   .example-container form > * {
//     margin: 12px 0;
//   }

//   .example-container .mat-radio-button {
//     margin: 0 12px;
//   }

//   .example-form-fields {
//     display: flex;
//     align-items: flex-start;
//   }
//   .example-headers-align .mat-expansion-panel-header-title,
// .example-headers-align .mat-expansion-panel-header-description {
//   flex-basis: 0;
// }

// .example-headers-align .mat-expansion-panel-header-description {
//   justify-content: space-between;
//   align-items: center;
// }

// .example-headers-align .mat-form-field + .mat-form-field {
//   margin-left: 8px;
// }
