<mat-card>
  <mat-card-header>
    <mat-card-title>ARL</mat-card-title>
    <mat-card-subtitle>Listado de ARL inscritas</mat-card-subtitle>
  </mat-card-header>
  <mat-card-actions align="end">
    <button mat-raised-button color="accent">Crear nueva ARL</button>
  </mat-card-actions>
  <mat-card-content>
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="arl">
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef>ARL ID</th>
          <td mat-cell [ngStyle]="{ width: '300px' }" *matCellDef="let arl">
            {{ arl.id }}
          </td>
        </ng-container>
        <ng-container matColumnDef="nombre">
          <th mat-header-cell *matHeaderCellDef>Nombre</th>
          <td mat-cell [ngStyle]="{ width: '1000px' }" *matCellDef="let arl">
            {{ arl.arlNombre }}
          </td>
        </ng-container>

        <ng-container matColumnDef="edit">
          <th mat-header-cell *matHeaderCellDef>Edit</th>
          <td mat-cell [ngStyle]="{ width: '200px' }" *matCellDef="let arl">
            <button mat-mini-fab color="primary">
              <mat-icon>edit</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnas"></tr>
        <tr mat-row *matRowDef="let row; columns: columnas"></tr>
      </table>

      <mat-paginator
        [length]="totalResultados"
        [pageSizeOptions]="[5, 10, 25, 100]"
        aria-label="Select page of users"
      >
      </mat-paginator>
    </div>
  </mat-card-content>
</mat-card>
