<mat-card>
  <mat-card-title>{{ titulo }} </mat-card-title>
  <mat-card-subtitle>
    {{ subtitulo }}
  </mat-card-subtitle>

  <form class="crear-arl" [formGroup]="arlForm" (ngSubmit)="crearArl()">
    <section class="crear-empresa__campos">
      <mat-form-field appearance="fill">
        <mat-label>Identificador de ARL</mat-label>
        <input
          formControlName="arlId"
          matInput
          [disabled]="true"
          placeholder="Identificador de ARL"
          type="number"
        />
        <mat-icon matSuffix>account_balance_wallet</mat-icon>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Nombre de empresa</mat-label>
        <input
          formControlName="arlNombre"
          matInput
          placeholder="Ingrese Nombre de la ARL"
          type="text"
        />
        <mat-icon matSuffix>account_balance</mat-icon>
        <mat-error *ngIf="arlForm.get('arlNombre')!.invalid">
          Este campo no puede estar vacio
        </mat-error>
      </mat-form-field>
    </section>

    <mat-card-actions align="end">
      <button
        type="submit"
        mat-raised-button
        [disabled]="arlForm.invalid"
        color="primary"
      >
        {{ this.data.tipo == "crear" ? "GUARDAR" : "ACTUALIZAR" }}
      </button>
      <button
        mat-dialog-close
        type="button"
        mat-raised-button
        mat-button
        color="accent"
      >
        CANCELAR
      </button>
    </mat-card-actions>
  </form>
</mat-card>
